<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Bible Baptist Ekklesia of Kawit </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/church_logo.jpeg}"/>
    <link th:href="@{assets/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/fontawesome-free-6.7.2-web/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/app-assets/vendor/css/rtl/core-dark.css}"/>
    <link rel="stylesheet" th:href="@{/app-assets/vendor/css/rtl/theme-default-dark.css}"/>
    <link rel="stylesheet" th:href="@{/app-assets/vendor/fonts/boxicons.css}"/>
    <link rel="stylesheet" th:href="@{/app-assets/vendor/fonts/fontawesome.css}"/>
    <script th:src="@{assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{assets/js/jquery.min.js}"></script>

</head>

<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:replace="~{layout/menu :: _layout-menu}"></div>
        <div class="layout-page">
            <div th:replace="~{layout/header :: _header}"></div>
            <div class="content-wrapper">
                <div id="frag_container" class="container-xxl flex-grow-1 container-p-y">
                    <div class="card p-4">
                        <div class="d-flex flex-column justify-content-between align-items-center">
                            <h3 class="flex-grow-1">Add Member</h3>
                        </div>

                        <div class="card p-4">
                            <h4 class="mb-4">Add Member</h4>
                            <form th:action="@{/auth/register}" method="post">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                </div>

                                <div class="mb-3">
                                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm password">
                                </div>



                                <div class="mb-3">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
                                </div>

                                <div class="mb-3">
                                    <label for="middlename" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control" id="middlename"  name="middlename" placeholder="Enter middle name">
                                </div>

                                <div class="mb-3">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
                                </div>


                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="id" placeholder="Enter age">
                                </div>

                                <div class="mb-3">
                                    <label for="birthdate" class="form-label">Birthdate</label>
                                    <input type="date" class="form-control" id="birthdate" name="birthdate">
                                </div>

                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <textarea class="form-control" id="address" rows="2" name="address" placeholder="Enter address"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-select" id="status" name="status">
                                        <option selected disabled>Select status</option>
                                        <option value="APPROVED">Approved</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="DECLINED">Declined</option>
                                    </select>
                                </div>

                                <div class="mb-4">
                                    <label for="rolename" class="form-label">Role</label>
                                    <select class="form-select" id="rolename" name="rolename">
                                        <option selected disabled>Select role</option>
                                        <option value="MEMBER">Member</option>
                                        <option value="LEADER">Leader</option>
                                        <option value="PASTOR">Pastor</option>
                                    </select>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Save Member</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Helpers -->
<script src="" th:src="@{/app-assets/vendor/js/helpers.js}"></script>
<script src="" th:src="@{/app-assets/js/config.js}"></script>

<script src="" th:src="@{/app-assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/hammer/hammer.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/typeahead-js/typeahead.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/select2/select2.js}"></script>
<script src="" th:src="@{/app-assets/vendor/libs/jquery-mask-plugin/jquery.mask.min.js}"></script>

<script th:src="@{/app-assets/vendor/js/menu.js}"></script>
<script th:src="@{/app-assets/js/main.js}"></script>

</html>