<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <section class="details-section" th:fragment="details-section">
      <h2>Who We Are</h2>
      <div class="details-card-wrapper">
        <div class="details-card">
          <img src="/images/ministries_lp.jpg">
          <div class="card-info">
            <div class="details-icon"><i class="fa-solid fa-book-open"></i></div>
            <h3>
              Ministries
            </h3>
            <p>Explore our various ministries serving different groups and needs within our church and community.</p>
            <a><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>

        <div class="details-card">
          <img src="/images/live_lp.jpg">
          <div class="card-info">
            <div class="details-icon"><i class="fa-solid fa-heart"></i></div>
            <h3>
              Live
            </h3>
            <p>Join our live worship services and watch recordings of past sermons and special events.</p>
            <a><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>

        <div class="details-card">
          <img src="/images/events_lp.jpeg">
          <div class="card-info">
            <div class="details-icon"><i class="fa-solid fa-calendar"></i></div>
            <h3>
              Events
            </h3>
            <p>Join us for our regular services and special events throughout the year.</p>
            <a><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="wave-container">
        <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
          <path fill="#ffffff" fill-opacity="1" d="M0,160
                    C 360,80 1080,240 1440,160
                    L1440,320
                    L0,320
                    Z" />
        </svg>
      </div>
    </section>

    <section class="details2-section" th:fragment="details2-section">
       <h2>Welcome to Bible Baptist Ekklesia</h2>
      <p>
        Bible Baptist Ekklesia of Kawit is an independent Baptist church founded on the
        principles of Biblical authority, salvation by grace through faith in Jesus Christ,
        the priesthood of all believers, the autonomy of the local church, and the Great
        Commission to make disciples of all nations.
      </p>
      <p>We are committed to proclaiming the Gospel of Jesus Christ, making disciples
        through Biblical teaching, and serving our community with the love of Christ. We
        welcome people from all walks of life to join us in worship and fellowship as we
        seek to grow in our relationship with God.</p>
      <a>
        <span>LEARN MORE ABOUT US </span>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </section>
</body>
</html>