<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
   <section class="footer-section" th:fragment="footer-section">
       <div class="footer-wrap">
           <div class="mission">
               <div class="brand-logo">
                   <img src="/assets/church_logo.jpeg" alt="church logo">
                   <div class="brand-label">
                       <h4  href="/">BIBLE BAPTIST</h4>
                       <p> EKKLESIA OF KAWIT</p>
                   </div>

               </div>
               <p class="mission-statement">
                   An independent Baptist church proclaiming the Gospel of Jesus Christ and making disciples through Biblical teaching.
               </p>
               <div class="socials-footer">
                   <i class="nav-icon fa-brands fa-facebook-f"></i>
                   <i class="nav-icon fa-brands fa-instagram"></i>
                   <i class="nav-icon fa-brands fa-youtube"></i>
                   <i class="nav-icon fa-solid fa-envelope"></i>
               </div>
           </div>

               <ul class="quick-list">
                   <h6 class="footer-title">Quick Links</h6>
                   <li><a href="/about">About Us</a></li>
                   <li><a href="/ministries">Ministries</a></li>
                   <li><a href="/events">Events</a></li>
                   <li><a href="/contact">Live Worship</a></li>
                   <li><a href="/contact">Be One of Us</a></li>
               </ul>
           <div></div>
           <div class="contact-details">
               <h6 class="footer-title">Contact Us</h6>
               <div>
                   <i class="fa-solid fa-location-dot"></i>
                   <span>123 Binakayan St., Kawit, Cavite,<br> Philippines</span>
               </div>
               <div>
                   <i class="fa-solid fa-phone"></i>
                   <span>+63 912 345 6789</span>
               </div>
               <div>
                   <i class="fa-solid fa-envelope"></i>
                   <span>info@bbek.org</span>
               </div>
           </div>

           <div class="service-times">
               <h6 class="footer-title">Service Times</h6>

               <div>
                   <i class="fa-solid fa-clock"></i>
                   <div>
                       <p class="service-title">Sunday Worship</p>
                       <p class="service-schedule">9:00 AM - 10:30 AM</p>
                   </div>
               </div>

               <div>
                   <i class="fa-solid fa-clock"></i>
                   <div>
                       <p class="service-title">Prayer Meeting</p>
                       <p class="service-schedule">Monday, 7:00 PM - 8:30 PM</p>
                   </div>
               </div>

               <div>
                   <i class="fa-solid fa-clock"></i>
                   <div>
                       <p class="service-title">Bible Study</p>
                       <p class="service-schedule">Wednesday, 7:00 PM - 8:30 PM</p>
                   </div>

               </div>


           </div>
       </div>
       <div class="copyright-wrap">
               <p>© 2025 Bible Baptist Ekklesia of Kawit. All rights reserved.</p>
       </div>
   </section>
</body>
</html>