<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<section class="hero-section" th:fragment="hero-section">
    <h1>
        Welcome to Bible Baptist Ekklesia of Kawit
    </h1>
    <h3>
        A place of worship, community, and spiritual growth for all.
    </h3>
    <div class="info-ctn">
        <a href="/about" class="hero-btn learn-more" >
            Learn More
        </a>


        <a href="/contact" class="hero-btn contact-us" >
            <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
            <span>Contact Us</span>
        </a>

    </div>
</section>
</body>
</html>