<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <section class="highlight-section" th:fragment="highlight-section">
      <div class="highlight-card">
          <div class="highlight-wrap calendar-wrap"><ion-icon class="highlight-icon calendar-icon" name="calendar-clear-outline"></ion-icon></div>
          <h4 class="highlight-title calendar-title">Upcoming Events</h4>
          <p>Join us for worship services, Bible studies, youth activities, and community outreach.</p>
          <a href="/events" class="highlight-link calendar-link">
              <span class="highlight-label">View Calendar</span>
              <span class="forward-icon"><ion-icon name="chevron-forward-outline"></ion-icon></span>
          </a>
      </div>
      <div class="highlight-card">
          <div class="highlight-wrap ministries-wrap"><ion-icon class="highlight-icon ministries-icon" name="people-outline"></ion-icon></div>
          <h4 class="highlight-title ministries-title">Our Ministries</h4>
          <p>Discover our various ministries and how you can get involved and serve.</p>
          <a href="/ministries" class="highlight-link ministries-link">
              <span class="highlight-label">Explore Ministries</span>
              <span class="forward-icon"><ion-icon name="chevron-forward-outline"></ion-icon></span>
          </a>
      </div>
      <div class="highlight-card">
          <div class="highlight-wrap about-wrap"><ion-icon class="highlight-icon about-icon" name="book-outline"></ion-icon></div>
          <h4 class="highlight-title about-title">About Us</h4>
          <p>Learn more about our church, our mission, and our vision.</p>
          <a href="/about" class="highlight-link about-link">
              <span class="highlight-label">
                  About BBEK
              </span>
              <span class="forward-icon"><ion-icon name="chevron-forward-outline"></ion-icon></span>
          </a>
      </div>
  </section>


</body>
</html>