<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <section class="highlight-section" th:fragment="highlight-section">
     <div class="service-ctn">
         <h3 class="highlight-title">service time</h3>
         <h4 class="service-day">Sunday Mornings</h4>
         <h3 class="service-time">9:00 to 10:30 AM</h3>
         <p>End time is approximate.</p>
     </div>
     <div class="location-ctn">
         <h3 class="highlight-title">location</h3>
         <h4 class="location-address">
             Bible Baptist Ekklesia of Kawit<br>
             485 Acacia St. Villa Ramirez<br>
             Tabon 1, Kawit, Cavite<br>
         </h4>

     </div>
  </section>
</body>
</html>