<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <div class="sidenav-wrap" th:fragment="sidenavigation">
         <div class="closed-wrap">
           <ion-icon class="closed-icon" name="close-outline"></ion-icon>
         </div>
     <ul>
      <li> <a href="/">Home</a></li>
       <li><a href="/about">About Us</a></li>
       <li><a href="/ministries">Ministries</a></li>
       <li><a href="/events">Events</a></li>
       <li><a href="/contact">Contact</a></li>
     </ul>
     <hr>
     <div class="sidenav-login">
         <h3>Login</h3>
         <button class="login-btn" >Login to your account</button>
     </div>
   </div>

</body>
</html>