<div th:fragment="_layout-menu" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="app-brand demo">
        <a th:href="@{/dashboardMember}" class="app-brand-link mt-4">
            <span class="menu-icon"><img class="img-fluid rounded-circle" th:src="@{/assets/church_logo.jpeg}"></img> </span>
            <span class="text-truncate app-brand-text demo menu-text fw-bold ms-2">BBEK</span>
            <hr>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate" data-i18n="Dashboard">Dashboard</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user-detail"></i>
                <div class="text-truncate" data-i18n="Dashboard">My Profile</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-calendar-alt"></i>
                <div class="text-truncate" data-i18n="Dashboard">Church Events</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-money-withdraw"></i>
                <div class="text-truncate" data-i18n="Dashboard">My Donations</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-heart"></i>
                <div class="text-truncate" data-i18n="Dashboard">My Cerificates</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div class="text-truncate" data-i18n="Dashboard">Bible Study</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-plus"></i>
                <div class="text-truncate" data-i18n="Dashboard">Prayers Requests</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-package"></i>
                <div class="text-truncate" data-i18n="Dashboard">Volunteer</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div class="text-truncate" data-i18n="Dashboard">Announcements</div>
            </a>
        </li>

        <li class="menu-item">
            <a href="" th:href="@{/dashboardMember}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div class="text-truncate" data-i18n="Dashboard">Settings</div>
            </a>
        </li>

    </ul>
</div>