<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Church Leaders</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/about.css}">
    <link rel="stylesheet" th:href="@{/styles/card.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-free-6.7.2-web/css/all.min.css}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<!-- Include Navbar -->
<div th:replace="~{loginform :: loginForm}"></div>
<div th:replace="~{sidenav :: sidenavigation}"></div>
<div class="root">
    <nav th:replace="~{navigation :: navbar}"></nav>
    <div th:replace="~{socials_floate ::social-floating-ctn}"></div>
    <section class="common-section">
        <div class="header">
            <h1 >Church Leadership</h1>
            <h3 >Bible Baptist Ekklesia of Kawit</h3>
        </div>
        <div class="wave-container">
            <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
                <path fill="#ffffff" fill-opacity="1" d="M0,160
                C 360,80 1080,240 1440,160
                L1440,320
                L0,320
                Z" />
            </svg>
        </div>
    </section>
    <section class="leadership-section">
      <div class="leadership-header">
          <p>Our church is led by dedicated servants who are committed to shepherding the flock and equipping the saints for the work of ministry. They provide spiritual guidance, pastoral care, and administrative leadership for our congregation.</p>
          <p>Our leadership team also includes deacons, ministry leaders, and administrative staff who work together to facilitate the various aspects of church life and ministry.</p>
      </div>
       <div class="leaders-wrapper">
           <div class="leaders-card">
                <img src="/images/img8.png">
               <div>
                   <h3>Rev. Rodolfo Mojica</h3>
                   <h5>Sending Pastor</h5>
               </div>
               <p>
                   Pastor Rodolfo Mojica serves as our Sending Pastor, providing overall leadership and vision for the church. He is responsible for preaching, teaching, and pastoral care, as well as overseeing the various ministries of the church.
               </p>
           </div>

           <div class="leaders-card">
               <img src="/images/img6.jpeg">
               <div>
                   <h3>Rev. Fresco Q. Sulapas</h3>
                   <h5>Senior Pastor</h5>
               </div>
               <p>
                   Pastor Fresco Q. Sulapas serves as our Senior Pastor, assisting in preaching, teaching, and pastoral care. He works closely with the Sending Pastor to ensure that the spiritual needs of the congregation are met.
               </p>
           </div>

       </div>
        <a>Back to About</a>

    </section>
    <section class="about-direction-section">
        <h2>Join Us This Sunday</h2>
        <p>
            We'd love to have you join us for worship this Sunday.<br> Come experience the love and community at Bible Baptist Ekklesia of Kawit.
        </p>
        <a>
               <span>
                   GET DIRECTIONS
               </span>
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </section>

    <section th:replace="~{footer :: footer-section}"></section>
</div>
<script src="/js/main.js"></script>
<script th:src="@{assets/js/jquery.min.js}"></script>
</body>
</html>