.about-section, .leaders-section, .story-section{
    padding: 0 10em;
    background-color: var(--blue700);
    color: var(--white200);
}
.about-header{
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("/images/placeholder.svg");
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
}

.about-header > * {
    z-index: 2;
    position: relative;
    color: var(--white200);
}
.about-header > img{
    filter: brightness(50%);
}
.about-header > h1{
    font-size: var(--size-xl);
    font-weight: 600;
}
.about-header > h3{
    font-size: var(--size-s);
    font-weight: 400;
}
.story-section{
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 2em;
}
.story-section > .story-details > div > h2, .story-section > .story-details > .beliefs-details{
    margin: 1em 0;
}
.story-section > .story-details > div > h2 {
    font-size: var(--size-m);
    letter-spacing: 1px;
}
.story-section > .story-details > div > p {
    font-weight: 300;
    font-size: var(--size-sm);
    letter-spacing: 1px;
    color: var(--grey200);
}
.story-section > .story-details > .beliefs-details > div{
    margin: 1em 0;
    display: flex;
    align-items: start;
    gap: 1em;
}
.story-section > .story-details > .beliefs-details > div > i{
    color: var(--skyblue);
    background-color: var(--lightblue);
    padding: 8px;
    border-radius: 50%;
    font-size: var(--size-xsm);
}
.story-section > .story-details > .beliefs-details > div > div > p{
    font-weight: 300;
    color: var(--grey200);
}


.leaders-section{
    height: auto;
    padding: 2em;
}
.leaders-section > .leaders-details{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    gap: 5em;
}
.leaders-section > .leaders-details >div > img{
    height: 14em;
    width: 14em;
    object-fit: cover;
    border-radius: 50%;
}
.leaders-section > .leaders-details >div{
    text-align: center;
}
.leaders-section > .leaders-details >div > div > p{
    font-weight: 300;
}


.common-section{
    position: relative;

    padding: 0;
    border-bottom: 1px solid var(--grey200);
}
.common-section > .header{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("/images/placeholder.svg");
}


.common-section > .header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 1, 0.5);
    z-index: 1;
}

.common-section > .header > * {
    z-index: 2;
    position: relative;
    color: var(--white200);
}
.common-section > .header > img{
    filter: brightness(80%);
}
.common-section > .header > h1{
    font-size: var(--size-xl);
}
.common-section > .header > h3{
    font-weight: 400;
    font-size: var(--size-m);
}
.about-info-section{
    height: auto;
    background-color: var(--lightgrey100);
    padding: 5em 10em;
}
.about-info-section > div{
    height: 60em;
    width: 100%;
    border-radius: 8px;
    background-color: var(--white500);
}
.about-info-section > div > img{
    height: 40%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.about-info-section > div > div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2em;
}
.about-info-section > div > div > h3, .about-info-section > div > div > div > h3{
    font-weight: 500;
    font-size: var(--size-sm);
}
 .about-info-section > div > div > div {
     display: flex;
     align-items: start;
     justify-content: start;
     flex-direction: column;
     gap: .5em;
}
.about-info-section > div > div > div > p  {
    font-size: var(--size-xsm);
}
.about-info-section > div > div > div > p > i {
    color: var(--blue200);
    margin-right: 1em;
}
.about-info-section > div > div > h5{
    font-size: var(--size-sm);
    font-weight: 400;
}
.about-info-section > div > div > ul{
    padding: 0;
    margin: 0 1em;
}
.about-info-section > div > div > a{
    margin: auto;
    margin-top: 2em;
    border: 1px solid var(--grey200);
    background-color: var(--white200);
    border-radius: 8px;
    padding: .5em 1em;
    cursor: pointer;
}
.about-direction-section{
    height: auto;
    padding: 4em 10em;
    text-align: center;
    gap: 1em;
}
.about-direction-section > h2{
    font-size: var(--size-l);
    font-weight: 600;
}
.about-direction-section > p{
    font-size: var(--size-s);
    font-weight: 300;
}
.about-direction-section > a{
    font-size: var(--size-s);
    font-weight: 300;
    background-color: var(--blue200);
    color: var(--white200);
    padding: .5em 3em;
    border-radius: 2em;
    cursor: pointer;
}

.leadership-section, .department-section{
    height: auto;
    background-color: var(--lightgrey100);
    padding: 4em 10em;
}
.leadership-section > a, .department-section > a{
    margin: 3em 0;
    border: 1px solid var(--grey200);
    background-color: var(--white200);
    border-radius: 8px;
    padding: .5em 1em;
    cursor: pointer;
}
 .leadership-header{
    margin: 1em 0;
    background-color: var(--white500);
    border-radius: 8px;
    padding: 1em;
}
.leaders-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5em;
}
 .leaders-wrapper > .leaders-card{
     height: 38em;
     background-color: var(--white500);
     border-radius: 8px;
 }
.leaders-wrapper > .leaders-card > img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.leaders-wrapper > .leaders-card > div, .leaders-wrapper > .leaders-card > p{
    padding: 1em;
    font-size: var(--size-sm);
}
.leaders-wrapper > .leaders-card > div > h3{
    font-size: var(--size-m);
}
.leaders-wrapper > .leaders-card > div > h5{
    color: var(--blue200);
    font-size: var(--size-sm);
}
.department-wrapper > h2{
    text-align: center;
    margin: 1em 0;
}
.department-card-wrapper{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 3em;
}
.department-card-wrapper > .department-card{
    background-color: var(--white500);
    border-radius: 8px;
}
.department-card-wrapper > .department-card > img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.department-card-wrapper > .department-card > div{
    padding: 1em;
}
.department-card-wrapper > .department-card > div > h3{
    font-weight: 600;
}
.department-card-wrapper > .department-card > div > h4{
    font-weight: 300;
}


/* Devices up to 599px (small phones) */
@media only screen and (max-width: 599px) {
    .about-section, .about-info-section, .about-direction-section, .leadership-section, .department-section{
        height: auto;
        padding: 1em;

    }
    .about-info-section > div{
        height: auto;
        width: 100%;
        border-radius: 8px;
        background-color: var(--white500);
    }
    .about-section > .about-header{
        height: 30em;
        width: 100%;
        padding: 1em;
        text-align: center;
    }
    .about-section > .about-header > h1{
        font-size: var(--size-m);
    }
    .about-section > .about-header > h3{
        font-size: var(--size-s);
    }
    .leaders-section, .story-section{
        height: auto;
        padding: 0 1em;
    }
    .story-section{
        grid-template-rows: auto;
        grid-template-columns: auto ;
        align-items: center;
        justify-content: center;
    }
    .leaders-section > .leaders-details{
        grid-template-rows: auto;
        grid-template-columns: auto ;
        align-items: center;
        justify-content: center;
        padding: 2em 0;
    }
    .leaders-wrapper > .leaders-card{
        height: 44em;
    }
    .about-direction-section > h2{
        font-size: var(--size-s);
    }
    .about-direction-section > p{
        font-size: var(--size-xsm);
    }
    .leaders-wrapper{
        height: auto;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        gap: 5em;
    }
    .department-card-wrapper{
        display: grid;
        grid-template-rows:  auto;
        grid-template-columns:  auto;
        gap: 3em;
    }


}

/* Devices between 600px and 849px (portrait tablets & large phones) */
@media only screen and (min-width: 600px) and (max-width: 849px) {
    .about-section, .about-info-section, .about-direction-section, .leadership-section, .department-section{
        height: auto;
        padding: 1em;

    }
    .about-section > .about-header{
        height: 30em;
        width: 100%;
        padding: 1em;
        text-align: center;
    }
    .leaders-section, .story-section{
        height: auto;
        padding: 0 1em;
    }
    .leaders-section > .leaders-details{
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
        padding: 2em 0;
    }
    .leaders-wrapper > .leaders-card{
        height: 44em;
        width: 34em;
    }

    .about-direction-section > h2{
        font-size: var(--size-m);
    }
    .about-direction-section > p{
        font-size: var(--size-sm);
    }
    .leaders-wrapper{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        gap: 5em;
    }
    .department-card-wrapper{
        display: grid;
        grid-template-rows:  auto;
        grid-template-columns:  auto;
        gap: 3em;
    }


}

/* Devices 850px and up (small desktops and tablets in landscape) */
@media only screen and (min-width: 850px) {

}

/* Devices 1200px and up (large desktops/laptops) */
@media only screen and (min-width: 1200px) {

}





