@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --black200:#0e0e0e;
    --white200: #f4f4f4;
    --white500:#FFFFFF;
    --lightgrey100: #f1f5f9;
    --lightgrey200: #dfdede;
    --primary: #0F1626;
    --secondary: #080813;
    --blue700:#040815;
    --blue500: #252fda;
    --blue200: #1974d3;
    --skyblue: #5a98d8;
    --lightblue: #a0c5f1;
    --lightblue200: #f1f1f1;
    --grey200: #aeadad;
    --grey500: #323131;
    --green200: #57ed88;
    --green500: #1ab34c;
    --brown200: #713535;
    --orange200:#F5A623;
    --red200:#ff5555;
    --size-xxs:.6em;
    --size-xsm:.8em;
    --size-sm:1em;
    --size-s:1.2em;
    --size-m:1.5em;
    --size-l:2.5em;
    --size-xl:4em;
    --size-xxl:5em;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.root{
    position: relative;
    background-color: var(--white500);
}
.dimmed{
   filter: brightness(50%);
}


.sidenav-wrap{
    height: 100vh;
    width: 70vw;
    /*right: 0;*/
    right: -1500px;
    background:var(--primary);
    position: fixed;
    top: 0;
    z-index: 2000;
    padding: 1em;
    transition: all ease-in-out 800ms;
}
.sidenav-open{
    right: 0;
}

.sidenav-closed{
    right: -1500px;
}

.closed-wrap{
  height: 2em;
  display: flex;
  align-items: center;
}
.closed-wrap > .closed-icon{
    margin-left: auto;
    font-size: var(--size-m);
    color: var(--grey200);
    cursor: pointer;
}
.closed-icon:hover{
    color: var(--white200);
}
.sidenav-wrap > ul{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--white200);
}
.sidenav-wrap > ul > li{
    cursor: pointer;
}

.sidenav-wrap > ul > li > a{
    text-decoration: none;
    color: var(--white200);
}
.sidenav-wrap > ul > li > a:hover{
    color: var(--grey200);
}
.sidenav-wrap > hr{
    height: 2px;
    color: var(--grey200);
}
.sidenav-login{
    width: 100%;
}
.sidenav-login > h3{
    color: var(--white200);
}
.sidenav-login > .login-btn{
    border-radius: 8px;
    height: 3em;
    width: 100%;
    text-align: start;
    padding: 0 1em;
    font-weight: 300;
    background-color: var(--white200);
    color: var(--black200);
}

.burger-menu{
    border: 1px solid var(--white200);
    padding: 8px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-size: var(--size-m);
    transition: all ease-in-out 800ms;
}

.burger-menu:hover{
    cursor: pointer;
    color: var(--brown200);
    background: rgba( 239, 236, 230, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.nav-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mynav{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    padding: 0 1em;
    color: var(--white200);
    transition: all ease-in-out 500ms;
}



.mynav.scrolled{
    position: fixed;
    background-color: var(--white200);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.mynav.scrolled >  .burger-menu, .mynav.scrolled > i{
    border: 1px solid var(--black200);
    color: var(--black200);
}

.mynav.scrolled > .login > .login-btn{
    background-color: var(--blue200);
    color: var(--white200);
    font-weight: 600;
}



.mynav.scrolled > .login > .socials-ctn, .mynav.scrolled > .brand a, .mynav.scrolled> .nav-ctn ul li a.links{
    color: var(--black200);
    font-weight: 600;
}
.mynav > .login > .socials-ctn{
    display: none;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5em;
    padding: 0;
    margin: 0;

}


ul li a.links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-sm);
    font-weight: 600;
    color: var(--white200);
    text-decoration: none;
    text-align: center;
}
ul li a.links:hover{
    cursor: pointer;
    color: var(--grey200);
}



.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-m);
    flex: 1;
}
.brand a{
    padding: 0 8px;
    color: var(--white200);
    font-weight: bold;
    text-decoration: none;

}

.brand > img{
    height: 2em;
    border-radius: 100%;
}

.login{
    height: 100%;
    flex: 1;
    display: flex;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 1em;
}
.socials-ctn{
    width: 3em;
    position: fixed;
    top: 50%;
    right: 2em;
    padding: 1em;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    z-index: 5000;
    background-color: var(--blue200);
    color: var(--white200);
    border-radius: 1em;

}

.socials-footer{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
}
.socials-footer > i{
    padding: .5em;
    background: rgba( 170, 174, 179, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50%;
    color: var(--white500);
    cursor: pointer;
}
.socials-ctn > .nav-icon{
    font-size: var(--size-s);
    cursor: pointer;

}
.socials-ctn > .nav-icon:hover{
    color: var(--grey200);
}

.login > button{
    border: none;
    width: 6em;
    height: 3em;
    font-weight: 400;
    color: var(--black200);
    border-radius: 8px;

}
.login > button:hover{
    cursor: pointer;
    background-color: var(--grey200);
}



section{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-wrapper{
    height: auto;
    position: relative;
}
.wave-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    z-index: 3;
    overflow: hidden;
}

.wave-svg {
    display: block;
    width: 100%;
    height: auto;
}



.hero-section{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("/images/hero.jpg");
}



.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 1, 0.5);
    z-index: 1;
}

.hero-section > * {
    z-index: 2;
    position: relative;
    color: var(--white200);
}
.hero-section > img{
    filter: brightness(80%);
}

.hero-section > h1, .hero-section > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    color: var(--white200);
}
.hero-section > h1{
    font-size: var(--size-xxl);
    font-weight: bold;
}
.hero-section > ul > li{
    font-size: var(--size-m);
    text-decoration: underline;
    font-weight: 400;
}

.info-ctn{
    margin-top: 1.5em;
    display: flex;
}

 .hero-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1em;
     padding:.8em  2em;
     border-radius: 2em;
     margin: 0 1em;
     background: var(--white200);
     text-decoration: none;
     color: var(--black200);
     font-weight:600;
 }

.highlight-section{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--black200);
    padding: 2em;
    border-top: 1px solid var(--grey200);
    border-bottom: 1px solid var(--grey200);
}
.highlight-section > .service-ctn, .highlight-section > .location-ctn{
    margin: 1em 0;
    height: auto;
    width: 50%;
    padding:0 3em;
}
.highlight-section > .service-ctn{
    border-right: 1px solid var(--grey200);
}

.highlight-section > div > .highlight-title{
    margin: 1em 0;
    font-size: var(--size-m);
    font-weight: bold;
}
.highlight-section > div > .service-day{
    font-size: var(--size-s);
    font-weight: normal;
}
.highlight-section > div > .service-time{
    font-size: var(--size-m);
    font-weight: 600;
}
.highlight-section > div > p{
    font-size: var(--size-xsm);
    font-weight: 200;
}

.highlight-section > div > .location-address{
    font-size: var(--size-s);
    font-weight: 300;
}

.details-section{
    height: auto;
    position: relative;
    padding: 1em;
    background-color: var(--lightgrey100);
}
.details-section > h2, .details2-section > h2{
    font-size: var(--size-l);
    font-weight: 500;
    margin: 0 0 1em 0;
}
.details-section > .details-card-wrapper{
    z-index: 4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    gap: 3em;
}
.details2-section {
    height: auto;
    padding: 5em 30%;
    text-align: center;
}
.details2-section > p{
    font-size: var(--size-s);
    font-weight: 300;
    margin-bottom: 1em;
}
.details2-section > a{
    background-color: var(--blue200);
    color: var(--white500);
    padding: .8em 3em;
    border-radius: 2em;
    font-size: var(--size-sm);
}


.forward-icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-section{
    height: auto;

}

 .footer-wrap{
     height: 85%;
     width: 100%;
     display: grid;
     border-bottom:1px solid #656565;
     border-top: 1px solid #656565;
     grid-template-columns: 25% 15% 5% 25% 25%;
     align-items: start;
     justify-content: center;
     color: var(--grey200);
     padding: 8em;
     background-color: var(--primary);
}
 .footer-title{
     color: var(--white200);
     font-size: var(--size-s);
     margin-bottom: 1em;
 }

.footer-wrap >.contact-details > div{
      margin: 1em 0;
      display: flex;
      align-items: center;
      gap:.5em;
      font-size: var(--size-sm);
}
.footer-wrap >.contact-details > div > i, .footer-wrap > .service-times > div > i{
    color: var(--blue200);

}
.footer-wrap > .service-times > div{
    display: flex;
    align-items: center;
    gap:.5em;
    margin: 1em 0;
}
.copyright-wrap{
    height: 15%;
    color: var(--white200);
    text-align: center;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
 .brand-logo{
     display: flex;
     align-items: center;
 }
.brand-label{
    margin: 0 1em;
    color: var(--white200);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.brand-label > p{
    font-size: var(--size-sm);
    font-weight: 300;
}
.mission{
    padding: 0 1em;
}
.brand-logo > img{
    height: var(--size-l);
    border-radius: 50%;
}
.mission-statement{
    margin:1em 0;
   font-size: var(--size-sm);
}

.quick-list{
    display: flex;
    margin: 0;
    padding: 0;
    gap: .5em;
    flex-direction: column;
    justify-items: start;
    list-style: none;
}
ul.quick-list > li{
    cursor: pointer;
}
ul.quick-list > li >a{
    text-decoration: none;
    color: var(--grey200);
}
ul.quick-list > li > a:hover{
    color: var(--white200) !important;
}

.legal-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
.legal-link{
    color: var(--white200);
    text-decoration: none;
    transition: all ease-in-out 400ms;
    cursor:pointer;
}
.legal-link:hover{
    color: var(--grey200);
}

.login-wrap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35em;
    width: 30em;
    background-color: var(--white200);
    border-radius: 8px;
    padding: 2em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.8s ease;
    z-index:3;
}
.showlogin{
    opacity: 1;
    visibility: visible;
}
.closed-login{
    font-size: var(--size-m);
    display: flex;
    justify-content: end;
    align-items: center;

}
.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-header > img{
    height: var(--size-xxl);
    border-radius: 50%;
    margin: 1em 0;
    gap: 1em;
}
.login-header > h3{
    font-size: var(--size-s);
    font-weight: bold;
}
.login-header > p{
    font-size: var(--size-sm);
    font-weight: 300;
}
.login-form{
    display: flex;
    align-items: start;
    flex-direction: column;
   margin: 1em 0;

}
.login-form > .input-outline{
    width: 100%;
    margin: .5em 0;
}
.login-form > .input-outline> input{
    height: 3.5em;
    border: 1px solid var(--grey200);
    outline: none;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.login-form > .input-outline> input:focus{
    outline: 3px solid rgba(2, 37, 78, 0.25);
    outline-offset: 1px;
}
.login-option{
    display: flex;
    justify-content: space-between;
}
.login-option > a{
    cursor: pointer;
}
.submit-btn{
    margin: 1em 0;
    outline: none;
    border: none;
    border-radius: 8px;
    color: var(--white200);
    text-align: center;
    height: 3em;
    width: 100%;
    background-color: var(--blue200);
}

.ministries-list, .about-list{
    position: relative;
}


.menu-options{
    position: fixed;
    height: auto;
    width: 12em;
    background-color: var(--white500);
    border-radius: 8px;
    transition: all ease-in-out 800ms;
}
.menu-options > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;

    margin: 0;
    font-size: var(--size-sm);
    padding: 1em 0;
}

.menu-options > ul > li{
    padding:4px 12px;
}
.menu-options > ul > li>a{
    text-decoration: none;
    color: var(--black200);
}
.menu-options > ul > li:hover{
    cursor: pointer;
    background-color: var(--white200);
}

.about-options, .ministries-options{
    display: none;
}

.about-list:hover .about-options{
    display: block;
}
.ministries-list:hover .ministries-options{
    display: block;
}
/* Devices up to 599px (small phones) */
@media only screen and (max-width: 599px) {
    .brand {
        justify-content: start;
    }
    .nav-list, .login-btn {
        display: none;
    }
    section {
        height: 100vh;
    }
    .hero-section > h1 {
        font-size: var(--size-m);
        font-weight: bold;
    }
    .hero-section > ul {
        list-style: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .hero-section > ul > li {

        font-size: var(--size-s);
        font-weight: 400;
    }

    .highlight-section > .service-ctn, .highlight-section > .location-ctn{
        width: 100%;
    }
    .highlight-section > .service-ctn{
        border: none;
    }
    .highlight-section{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .footer-wrap {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 1em;

    }
    .login-wrap {
        width: 100%;
    }
    .wave-container {
        height: 85px;
    }
    .details-section, .details2-section{
        padding: 2em;
    }
    .details-section, .details2-section, .footer-section{
        height: auto;
    }
    .footer-wrap{
        padding:  2em;
    }
    .mission{
        padding: 0 ;
    }

    .details-section > .details-card-wrapper{
        grid-template-rows: auto;
        grid-template-columns: auto ;
        padding: 1em;
    }
    .copyright-wrap{
        padding: 1em;
    }
    .copyright-wrap > p{
        font-size: var(--size-xsm);
    }
}

/* Devices between 600px and 849px (portrait tablets & large phones) */
@media only screen and (min-width: 600px) and (max-width: 849px) {
    .login{
        justify-content: end;
    }
    .brand {
        justify-content: start;
    }
    .nav-list, .login-btn {
        display: none;
    }
    section {
        height: 100vh;
    }
    .hero-section > h1 {
        font-size: var(--size-m);
        font-weight: bold;
    }

    .highlight-section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .footer-wrap {
        grid-template-columns: 50% auto auto;
        grid-template-rows: auto auto ;
        row-gap: 1em;
    }
    .login-wrap {
        width: 100%;
    }
    .wave-container {
        height: 150px;
    }
    .details-section, .details2-section, .footer-section{
        height: auto;
    }
    .details2-section{
        padding: 5em;
    }
    .details-section > .details-card-wrapper{
        grid-template-rows: auto;
        grid-template-columns: auto ;
        padding: 1em;
    }
    .footer-wrap{
        padding: 2em;
    }
    .mission{
        padding: 0 ;
    }
    .copyright-wrap{
        padding: 1em;
    }

}

/* Devices 850px and up (small desktops and tablets in landscape) */
@media only screen and (min-width: 850px) {
    .burger-menu, .sidenav-wrap {
        display: none;
    }
    .hero-section > h1 {
        font-size: var(--size-xxl);
        font-weight: bold;
    }
    .hero-section > h3 {
        font-size: var(--size-s);
        font-weight: 400;
    }

}

/* Devices 1200px and up (large desktops/laptops) */
@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .mynav {
        padding: 0 10em;
    }


    .mynav > .brand > img{
       height: 2em;
    }
    .mynav > .brand > a{
        font-size: var(--size-xsm);
    }
    ul li a.links{

        font-size: var(--size-xsm);
    }

    .hero-section > h1 {
        font-size: var(--size-l);
        font-weight: bold;
    }
    .hero-section > h3 {
        font-size: var(--size-s);
        font-weight: 400;
    }

    .highlight-section {
        height: auto;
        padding: 0 12em;
    }
    .footer-wrap {
        padding: 3em 8em;
    }
    .wave-container {
        height: 200px;
    }
}
