
.ministries-section{
    position: relative;
    height: 60vh;
    padding: 0;
    border-bottom: 1px solid var(--grey200);
}
.ministries-section > .header{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("/images/hero.jpg");
}


.ministries-section > .header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 1, 0.5);
    z-index: 1;
}

.ministries-section > .header > * {
    z-index: 2;
    position: relative;
    color: var(--white200);
}
.ministries-section > .header > img{
    filter: brightness(80%);
}
.ministries-section > .header > h1{
    font-size: var(--size-xl);
}
.ministries-section > .header > h3{
    font-weight: 400;
    font-size: var(--size-m);
}
.ministries-card-section{
    height: auto;
    background-color: var(--lightgrey100);
}
.ministries-card-section > .ministries-card-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:3em;
}
.ministries-card-section .ministries-card-wrapper > .ministries-card {
    position: relative;
    height: 34em;
    width: 24em;
    background-color: var(--white500);
    border-radius: 8px;
    border: 1px solid var(--lightgrey200);
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-info{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-info > div> h3{
    font-size: var(--size-s);
    font-weight: 600;
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-info >div > p{
    font-size: var(--size-sm);
    color: var(--grey500);
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-info >div > p > i{
    margin-right: 8px;
}

.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-card-action{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--lightgrey100);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1em;
    height: 4em;
    border: 1px solid var(--lightgrey200);
}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-card-action > a{
    padding: .8em 2em;
    background-color: var(--white500);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: var(--size-xsm);

}
.ministries-card-section .ministries-card-wrapper > .ministries-card > .ministries-card-action > a.jm-btn{
    padding: .8em 2em;
    background-color: var(--blue200);
    color: var(--white500);
    border-radius: 8px;
}
/* Devices up to 599px (small phones) */
@media only screen and (max-width: 599px) {
    .ministries-card-section{
        height: auto;
    }
    .ministries-card-section > .ministries-card-wrapper{
        grid-template-columns:  auto;
    }



}

/* Devices between 600px and 849px (portrait tablets & large phones) */
@media only screen and (min-width: 600px) and (max-width: 849px) {

    .ministries-card-section > .ministries-card-wrapper{
        grid-template-columns:  auto auto;
        gap: 1em;
    }


}

/* Devices 850px and up (small desktops and tablets in landscape) */
@media only screen and (min-width: 850px) {

}

/* Devices 1200px and up (large desktops/laptops) */
@media only screen and (min-width: 1200px) {

}

